<!DOCTYPE html>

{% extends 'recipes/bootstrap_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Create Recipe Page
{% endblock %}


{% block body_block %}
<h1>This is the create a recipe page</h1>
        <div>
            <form id='recipe_form' method='post' action='/recipes/create_recipe/''>
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type='submit' name='submit' value='Create Recipe' />
            </form>
        </div>
        <div>
            <a href='/recipes/'>Home</a><br />
        </div>
{% endblock %}
