<!DOCTYPE html>

{% extends 'recipes/bootstrap_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Create Recipe Page
{% endblock %}


{% block body_block %}
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="cover-container d-flex flex-column align-items-center justify-content-center p-3 mx-auto">
        <header class="display-1 mx-auto align-items-center justify-content-center p-3">
    Rate My Recipe
  </header>
<h1>Create a Recipe Here</h1>
        <div>
            <form id='recipe_form' method='post' action='/recipes/create_recipe/'>
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input class = "btn btn-primary" type='submit' name='submit' value='Create Recipe' />
            </form>
        </div>
        <div>
          <br>
            <a href="{% url 'recipes:home' %}" class="w-100 btn btn-lg btn-primary">Home</a><br />
        </div>

{% endblock %}