<!DOCTYPE html>

{% extends 'recipes/bootstrap_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}


{% block body_block %}
    <h1>This is the Home page</h1>
    <div>
        <strong>{{ boldmessage }}</strong><br />
    </div>
    
    <div>
        <a href='/recipes/my_account/'>My account</a><br />
        <a href='/recipes/recipes/'>Recipes</a><br />
        <a href='/recipes/faq/'>FAQ</a><br />
        <a href='/recipes/about/'>About</a><br />
    </div>
{% endblock %}

