<!DOCTYPE html>

{% extends 'recipes/bootstrap_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}


{% block body_block %}
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="cover-container d-flex flex-column align-items-center justify-content-center p-3 mx-auto">
        <header class="display-1 mx-auto align-items-center justify-content-center p-3">
            Rate My Recipe
        </header>
        <h3>This is the Home Page</h3>
        <p class="lead"><strong>{{ boldmessage }}</strong><br /></p>
        {% for recipe in recipe_list %}
        <ul> {{ recipe.recipe_name }} <a href="{% url 'recipes:show_recipe' recipe.slug %}" class="card-link">Go to recipe</a></ul>
        {% endfor %}
        <p class="lead">
        <a href="{% url 'recipes:register' %}" class="w-100 btn btn-lg btn-primary">Sign Up</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </div>
</div>

{% endblock %}