<!DOCTYPE html>

{% extends 'recipes/bootstrap_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}


{% block body_block %}
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="cover-container d-flex flex-column align-items-center justify-content-center p-3 mx-auto">
        <header class="display-1 mx-auto align-items-center justify-content-center p-3">
            Rate My Recipe
        </header>
        <h3>This is the Home Page</h3>
        <p class="lead"><strong>{{ boldmessage }}</strong><br /></p>
        <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Sign up</a></p>
    </div>
</div>

{% endblock %}

