<!DOCTYPE html>

{% extends 'recipes/bootstrap_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login Page
{% endblock %}


{% block body_block %}

<div class = "row justify-content-center" style="height:100vh;">
<div class="col-md-6 text-center my-auto">
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="cover-container d-flex flex-column align-items-center justify-content-center p-3 mx-auto">
        <header class="display-1 mx-auto align-items-center justify-content-center p-3">
            Rate My Recipe
        </header>
            <main class="form-signin w-50 mx-auto my">
                <form id='login_form' method='post' action="{% url 'recipes:login' %}">
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                    <div class="form-floating">
                        {% csrf_token %}
                        <input type="text" class="form-control" id="floatingInput" placeholder="Username" name='username' value=''>
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password' value=''>
                        <label for="floatingPassword">Password</label>
                    </div>


                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign In</button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
                </form>
            </main>
        </div>
    </div>



{% endblock %}