<!DOCTYPE html>

{% extends 'recipes/bootstrap_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}


{% block body_block %}
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="cover-container d-flex flex-column align-items-center justify-content-center p-3 mx-auto">
        <header class="display-1 mx-auto align-items-center justify-content-center p-3">
            Rate My Recipe
        </header>
    <div>
    {% if registered %}
        <h2>Registration Complete</h2>
        <a href="{% url 'recipes:login' %}" class="w-100 btn btn-lg btn-primary">Log In</a><br />
    </div>
    {% else %}
    <h2>Register Here</h2>
    <form id="user_form" method="post" action="{% url 'recipes:register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
{% endblock %}