<!DOCTYPE html>

{% extends 'recipes/bootstrap_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}


{% block body_block %}
    <h1>This is the Register page</h1>
    <div>
    {% if registered %}
        <h2>Registration complete</h2>
        <a href='/recipes/'>Home</a><br />
    </div>
    {% else %}
    <h2>Register here</h2>
    <form id="user_form" method="post" action="/recipes/register/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
{% endblock %}

