<!DOCTYPE html>

{% extends 'recipes/bootstrap_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login Page
{% endblock %}


{% block body_block %}
    <h1>This is the Login page</h1>
    
    <div>
        <form id='login_form' method='post' action="{% url 'recipes:login' %}">
            {% csrf_token %}
            Username: <input type='text' name='username' value='' size='50' />
            <br />
            Password: <input type='password' name='password' value='' size='50' />
            <br />
            <input type='submit' value='submit' />
        </form>    
    </div>
{% endblock %}

<!-- Old Login template-->

<!-- <ul>
    {% for recipe in recipe_list %}
    <ul> {{ recipe.recipe_name }}</ul>
    <ul> {{ recipe.category }}</ul>
    {% endfor %}
</ul>-->